.col-2 {
  margin: 2rem 2rem 5rem 2rem;
  max-height: 30rem;
  max-width: 30rem;
}

.col-2 img {
  border-radius: 50%;
  cursor: pointer;
  filter: grayscale(100%);
  width: 100%;
}

.col-2 img:hover {
  filter: grayscale(0);
}
