.navbar-container {
  display: flex;
  top: 0;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

a.brand {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-block {
  flex: 1;
  align-items: right;
}

.nav-block ul {
  display: flex;
  align-items: center;
}

.nav-block ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

.nav-block li a:hover {
  background: #BFC0C2;
  border-radius: 5px;
}
