.offer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.offer-col-2 {
  flex-basis: 50%;
}

.offer-col-2 img {
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  padding: 2rem;
  clip-path: circle(100%);
  transition: clip-path 1s;
}

.offer-col-2 img:hover {
  clip-path: circle(30%);
}
.offer-col-2 h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 2.5rem 0;
}
.btn-special {
  display: flex;
  float: center;
  background-color: #0d8243;
  color: #ffffff;
  padding: 0.8rem 3rem;
  margin: 3rem 0;
  border-radius: 2rem;
  border: 0.1rem #c0c0c0 solid;
  transition: 'background 0.5s';
}

.btn-special:hover {
  border: 0.1rem #808080 solid;
}

.btn-special:focus {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 768px) {
  .offer-col-2 {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
