.product-card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  max-width: 30rem;
  margin: 2rem;
}

.product-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
}
img.medium {
  width: 100%;
}
.product-button {
  display: flex;
  justify-content: space-between;
}
.price {
  font-size: 2rem;
}

