.checkout_steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
}
.checkout_steps > div {
  border-top: 1rem #999898 solid;
  color: #999898;
  flex: 1;
  padding: 2rem;
  font-weight: bold;
}
.checkout_steps > div.active {
  border-top-color: #1b8b8b;
  color: #1b8b8b;
}
