.screen-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.screen-col-1 {
  flex: 1;
  margin-bottom: 1rem;
}
.screen-col-2 {
  flex: 2;
  margin-bottom: 1rem;
}

.large {
  max-width: 50rem;
}
.card {
  border: 0.1rem #aaa2a2 solid;
  background: linear-gradient(
    90deg,
    rgba(169, 248, 252, 1) 0%,
    rgba(137, 223, 220, 1) 36%,
    rgba(219, 241, 246, 1) 100%
  );
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}

.quantity-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;
}

.primary-block {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c2bdbd solid;
  font-size: 1.6rem;
  background-color: #20bf6b;
  cursor: pointer;
}
button:hover {
  border: 0.1rem #404040 solid;
}

button:focus {
  outline: none;
  box-shadow: none;
}
button:hover {
  border: 0.1rem #404040 solid;
}

.primary-block.pay {
  width: 20rem;
  text-align: center;
}
