/* Main Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 1fr;
  height: 100%;
}
header {
  grid-area: header;
  background-color: rgb(5, 150, 150);
  padding: 2rem 0;
  display: inline-block;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  animation: moveDown;
  margin-bottom: 2rem;
}
header > div {
  display: flex;
}
main {
  grid-area: main;
  padding: 3rem, 2rem;
  background: radial-gradient(#fff, #d2ecfb);
}
.product-heading h1 {
  display: flex;
  position: relative;
  font-size: 3rem;
  margin: 3.5rem 0;
  justify-content: center;
  align-items: center;
}
.product-heading h1:after {
  content: '';
  height: 0.4rem;
  width: 20%;
  background: rgb(5, 150, 150);
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

footer {
  grid-area: footer;
  background-color: rgb(5, 150, 150);
  color: #ffffff;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0rem);
  }
}

/* @media only screen and (max-width: 660px) {
  ain {
    margin-top: 25rem;
    padding-top: 25rem;
  }
} */
