@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

h1 {
  font-size: 2rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
  color: #0a0a0a;
}


a {
  text-decoration: none;
}

a:hover {
  color: #ffd000;
}

li {
  list-style-type: none;
}

.success {
  color: #20a020;
}
.danger {
  color: #f01212;
}
.alert {
  padding: 1rem;
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-info {
  color: #f01212;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #f01212;
  background-color: #cec0c0;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.btn {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}
.btn:hover {
  border: 0.1rem #808080 solid;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
