@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
  color: #0a0a0a;
}
h2:hover {
  color: #ffd000;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffd000;
}

li {
  list-style-type: none;
}

.success {
  color: #20a020;
}
.danger {
  color: #f01212;
}
.alert {
  padding: 1rem;
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-info {
  color: #f01212;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #f01212;
  background-color: #cec0c0;
}
